*{
	margin: 0;
	padding: 0;
	list-style: none;
}
@font-face{
	font-family: 'Bebas Neue';
	src: url(../fonts/BebasNeue-Regular.ttf);
	font-style: normal;
}
@font-face{
	font-family: 'HomepageBaukasten-Bold';
	src: url(../fonts/HomepageBaukasten-Bold.ttf);
	font-style: normal;
}
@font-face{
	font-family: 'Quicksand-Light';
	src:url(../fonts/Quicksand-Light.otf);
	font-style: normal;
}
@font-face{
	font-family: 'Kiona-Regular';
	src:url(../fonts/Kiona-Regular.ttf);
	font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------
BODY
*/
html body{
background-color: #fff;
}
.header{
	background-color: #0000/*#fffafa*/;
}
.navbar{
	margin: 0px 10px;
	padding: 8px 10px;
}

.brand a.social-top{
   color: #000;
   font-size: 30px;
}
.brand {
padding-left: 50px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.brand a {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}
.checkbtn{
	font-size: 20px;
	color: #000;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
.checkbtn i.cross{
display: none;
}
#check{
	float: right;
display: none;
}

nav ul{
	float: right;
	margin-right: 80px;
	z-index: 1;
}
nav ul li{
	font-family: Kiona-Regular;
	display: inline-block;
	line-height: 80px;
	margin: 0 20px;
}
nav ul li a{
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	padding: 7px 13px;
	border-radius: 3px;
}
nav ul li a:hover:not(.notheme){
	background: #000;
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
}
nav ul li a.notheme:hover{
	color: inherit;
	transition: 0.5s;
	text-decoration: none;
}


/*---------------------------------------------------------------------------------------------------------------------------------*/

/* MEDIA*/
@media (max-width: 768px){
.brand{
padding-left: 20px;
}
.checkbtn{
  display: block;
}
nav ul{
	position: fixed;
	width: 100%;
	height: auto;
	background: #ffffff;
	top: 12%;
	left: -100%;
	text-align: center;
	transition: all 0.5s;
	box-shadow: 0 2px 4px 0 #0003;

}
nav ul li{
display: none;
}
#check:checked ~ ul{
	left: 0px;
}
#check:checked ~ ul li{
	display: block;
	
}
#check:checked ~ .checkbtn i.bar{
	transition: 0.5s;
display: none;
}
#check:checked ~ .checkbtn i.cross{
	transition: 0.5s;
display: block;
}
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/* MAIN*/
main{
	height: auto;
}
main section div.divbrand{
	position: absolute;
    padding: 2px;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
    font-size: 80px;
    text-transform: uppercase;
}
main section div.divbrand span.stock{
	font-weight: 1000;
}
main section div.divbrand .word{
	display: inline-block;
}
main section div.divbrand .word span.snap{
  visibility: hidden;
}
main section div.divbrand .word span:not(.snap){
	position: absolute;
	top: 0;
	overflow: hidden;
    animation: animate 10s linear;
	animation-iteration-count: 1;
	opacity: 0;
}

@keyframes animate {
	0%{
		opacity: 0;
		transform: translateY(-50%);
	}
	0.5%{
		opacity: 1;
		transform: translateY(0%);
	}
	4.5%{
		opacity: 1;
		transform: translateY(0%);
	}
	5%{
		opacity: 0;
		transform: translateY(50%);
	}
	100%{
		opacity: 0;
		transform: translateY(50%);
	}
}
main section div.divbrand .word span:nth-child(1){
	animation-delay: 0s;
}
main section div.divbrand .word span:nth-child(2){
	animation-delay: 0.5s;
}
main section div.divbrand .word span:nth-child(3){
	animation-delay: 1s;
}
main section div.divbrand .word span:nth-child(4){
	animation-delay: 1.5s;
}
main section div.divbrand .word span:nth-child(5){
	animation-delay: 2s;
}

main section div.divbrand .word span.snap{
	animation: animat 10s linear;
	animation-iteration-count: 1;
			animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes animat {
	0%{
		opacity: 0;
		transform: translateY(0%);
	}
	0.5%{
		opacity: 0;
		transform: translateY(0%);
	}
	4.5%{
		opacity: 0;
		transform: translateY(0%);
	}
	5%{
		opacity: 1;
		transform: translateY(0%);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
	}
}
main section div.divbrand .word span.snap{
	visibility: visible;
	animation-delay: 2.5s;
}
main section div.getin h6{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
main section div.getin a{
	font-family: Bebas Neue;
	font-size: 40px;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-decoration: none;
	transition: 0.6s ease;
	cursor: pointer;
	border-radius: 3px;
}
main section div.getin a:hover{
 	background: #000;
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/* MEDIA*/

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 769px){
    main section div.divbrand{
	font-size: 60px;
}
main section div.getin h6{
	top: 46%;
}

main section div.getin a{
	font-size: 30px;
	top: 55%;
}
	}
@media (max-width: 590px){
    main section div.divbrand{
	font-size: 50px;
}
main section div.getin h6{
	top: 45%;
}
main section div.getin a{
	font-size: 25px;
	top: 50%;
}
	}
@media (max-width: 400px){
    main section div.divbrand{
	font-size: 40px;
}

	}
@media (max-width: 360px){
    main section div.divbrand{
	font-size: 30px;
}

	}

/* Responsive tablet styles
/* ========================================== */
@media (min-width: 768px){
    main section div.divbrand{
	font-size: 70px;
}

main section div.getin h6{
	top: 45%;
}
main section div.getin a{
	top: 54%;
}
	}
/* Responsive laptop styles
/* ========================================== */
@media (min-width: 1024px){
    main section div.divbrand{
	font-size: 80px;
}

main section div.getin h6{
	top: 50%;
}
main section div.getin a{
	top: 60%;
}
	}
@media (min-width: 1324px){
    main section div.divbrand{
	font-size: 90px;
}
	}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER */
/*
.footer {
  background-color: #f5f5f5;
}
*/
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

footer{
   position: relative;
	padding: 20px;
	text-decoration: none;
	font-family: Quicksand-Light;
}
footer ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
footer ul li{
	text-align: center;
	position: relative;
	display: block;
	color: #666;
	font-size: 15px;
	height: 40px;
	width: 40px;
	/*background: #171515;*/
	background: #fff;
	box-shadow: 0 0 1px #000;
	line-height: 40px;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	transition: 0.5s;
}

footer ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  /* background: #d35400; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
     transition: 0.5s;
}
footer ul li a{
  text-decoration: none;
  background: transparent;
  color: #666;
}
footer ul li:hover{
	/*background: #fff;
	box-shadow: 0 0 2px #000;*/
	background: #171515;

}
footer ul li a:hover{
	color: #fff;
}
footer p{
	text-align: center;
} 
footer p a{
	color: #141414;
	font-weight: 600;
} 
footer p a:hover{
	color: #171515;
} 